html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    position: sticky;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style-type: none;
    padding: 1rem;
    text-decoration: none;
}

nav li a {
    text-decoration: none;
    color: rgb(94, 94, 94);
}

nav li a:hover {
    color: black;
    transition: 0.2s ease-in;
}

.red-circle {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    background-color: red;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 1rem 0px rgba(255, 0, 0, 1);
    -moz-box-shadow: 0px 0px 1rem 0px rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 1rem 0px rgba(255, 0, 0, 1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 1rem 0px rgba(255, 0, 0, 1);
    }
    50% {
        transform: scale(1.2);
        box-shadow: 0px 0px 1.5rem 0px rgba(255, 0, 0, 0.75);
    }
    100% {
        transform: scale(1);
        box-shadow: 0px 0px 1rem 0px rgba(255, 0, 0, 1);
    }
}

.looking {
    display: flex;
    align-items: center;
}

h1 {
    line-height: 1;
}

.occupation-container {
    height: 2rem;
    overflow: hidden;
}

.occupation {
    margin: 0;
    padding: 0;
    list-style-type: none;
    animation: slide 9s infinite;
}

@keyframes slide {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-2rem);
    }
    50% {
        transform: translateY(-2rem);
    }
    60% {
        transform: translateY(-4rem);
    }
    80% {
        transform: translateY(-4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.occupation-item {
    font-size: 1.25rem;
    height: 2rem;
    line-height: 2rem;
}

.name {
    font-size: 4rem;
}

.home-header {
    width: 70%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 70vh;
}

.description {
    color: #686868;
    margin-top: 2rem;
}

.circle-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-button {
    width: 5rem;
    height: 5rem;
    margin: auto;
    border-radius: 50%;
    background-color: rgb(244, 244, 244);
    cursor: pointer;
    border: none;
    transition: 0.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    fill: black;
}

.circle-button:hover {
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
}

.circle-button:visited {
    fill: black;
}

.main-container {
    width: 80%;
    margin: auto;
}

.about-home {
    background-color: #f5f5f5;
    padding: 2rem;
    text-align: center;
    color: #1d1d1d;
    margin: 5rem 0rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
}

.wave {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.about-home p:nth-child(2) {
    width: 70%;
    margin: auto;
}

.skills {
    text-align: center;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 2rem auto;
}

NavLink {
    text-decoration: none;
    color: #1d1d1d;
}

NavLink:hover {
    color: black;
}

Navlink:visited {
    color: #1d1d1d;
}

li a {
    color: #1d1d1d;
    fill: #1d1d1d;
}

.skill-item {
    display: flex;
    width: 49%;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    border-radius: 2rem;
    align-items: center;
    background-color: rgba(236, 236, 236, 0.244);
    margin-bottom: 0.5rem;
    transition: 0.2s ease-in;
}

.skill-item img {
    height: 3rem;
}

.skill-item h3 {
    margin-left: 1rem;
}

.skill-item:hover {
    filter: invert(1);
}

footer {
    background-color: rgba(236, 236, 236, 0.244);
    padding: 1rem;
    margin-top: 5rem;
}

footer a {
    text-decoration: none;
    color: #1d1d1d;
}

.foot-item {
    margin-right: 1rem;
    text-decoration: none;
    color: rgb(37, 37, 37);
    list-style-type: none;
}

.foot-item:visited {
    color: rgb(37, 37, 37);
}

.foot-item:hover {
    color: black;
}

.footer-links {
    display: flex;
    margin: 2rem 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.footer-social {
    margin-top: 1rem;
}

.social-link {
    color: #686868;
    text-decoration: none;
    transition: 0.2s ease-in;
}

.social-link:hover {
    color: black;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1rem;
}

.project-card {
    width: 32%;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    color: #000000;
    text-decoration: none;
}

.project-card img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.card-context {
    padding: 1rem;
}

.proj-header {
    height: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proj-header img {
    height: 20rem;
}

.skills-used {
    color: #929292;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.cat-item {
    background-color: rgba(241, 241, 241, 0.424);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.filter-container {
    max-height: 200px; /* Adjust the height as needed */
}
.filter-button {
    text-align: center;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: white;
    padding: 1rem;
    margin: 1rem 1rem 0.25rem 0;
    transition: 0.1s ease-in;
}

.filter-button:hover {
    background-color: #000000;
    cursor: pointer;
    color: white;
}

.card-description {
    color: #686868;
}

.project-card:hover {
    background-color: #e6e6e6ac;
}

.project-card:hover .cat-item {
    color: rgb(91, 91, 91);
}

.project-card:hover .card-description {
    color: black;
}

.portfolio-header {
    display: flex;
    justify-content: space-between;
}

.portfolio-header img {
    width: 40%;
}

.about-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.about-text {
    width: 50%;
}

.my-information {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.info-left p {
    margin: 0;
}

.info-left {
    text-align: left;
    font-weight: bold;
}

.info-right {
    text-align: right;
}

.about-text p {
    margin: 2rem 0;
}

.edu-item {
    margin-bottom: 1rem;
}

.edu-top {
    display: flex;
    justify-content: space-between;
}

.edu-top p {
    font-weight: bold;
}
.course-name {
    color: #686868;
    margin-bottom: 0.5rem;
}
.education {
    margin: 5rem 0;
}

.education h1 {
    margin-bottom: 2rem;
}

/* theme switch*/

.toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    height: 100%;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 1rem;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background: #9fccfa;
    border-radius: 25px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    height: 1em;
    width: 1.8em;
}

.slider:before {
    position: absolute;
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1em;
    width: 1em;
    inset: 0;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
    background: #0974f1;
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px #0974f1;
}

.switch input:checked + .slider:before {
    transform: translateX(0.8em);
}

.icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icons svg {
    fill: #686868;
    width: 1.5rem;
    height: 1.5rem;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about-pic-mobile .pic {
    display: none;
}

.about-pic-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.mock {
    margin: 2rem 0;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.mock img {
    border-radius: 0.5rem;
}

/* dark mode */

body.dark {
    background-color: #131313;
    color: #fff;
}

body.dark .about-home {
    background-color: #2b2b2b;
    color: aliceblue;
}

body.dark .project-card {
    background-color: #212121;
    color: #ababab;
}

body.dark .cat-item {
    background-color: #2b2b2b;
    color: #aaaaaa;
}
body.dark .project-card:hover {
    background-color: #272727;
    color: #525252;
}

body.dark .filter-button {
    background-color: #2b2b2b;
    color: #fff;
}
body.dark footer {
    background-color: #111111;
}

body.dark footer a {
    color: #ababab;
}
body.dark .footer-container {
    color: #ababab;
}

body.dark .form-container {
    background: #212121;
}

body.dark .icons a svg {
    fill: #000000;
}
body.dark .skill-item:hover {
    color: #3a3a3a;
}

body.dark nav a:hover {
    color: #fff;
}

.burger {
    display: none;
}

.header-mob {
    display: none;
}

div.dark {
    color: #fff;
}

.return {
    color: #262626;
    text-decoration: none;
    width: 80%;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
@media (max-width: 850px) {
    body {
        text-align: left;
    }

    h1,
    h2,
    h3 {
        text-align: left;
    }

    .burger {
        display: block;
        padding: 2rem;
    }
    .nav-links {
        display: none;
    }

    video {
        height: 100%;
    }

    /* Burger button styling for visibility */
    .burger-button {
        font-size: 24px;
        cursor: pointer;
        background: none;
        border: none;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1001;
    }

    /* Burger menu styling */
    .burger-menu {
        position: fixed;
        top: 0;
        right: -100%; /* Ensure the menu is completely off-screen initially */
        width: 300px;
        height: 100%;
        background: #333;
        color: white;
        transition: right 0.3s ease;
        z-index: 1000;
        padding: 20px;
        overflow-y: auto; /* Ensure menu is scrollable if content overflows */
    }

    /* Open class for visible burger menu */
    .burger-menu.open {
        right: 0; /* Slide the menu into view */
    }

    /* Menu items styling */
    .burger-menu ul {
        list-style-type: none;
        padding: 0;
        display: block;
    }

    .burger-menu .nav-item {
        margin: 20px 0;
    }

    .burger-menu .nav-item a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

    .burger-menu .nav-item a:hover {
        text-decoration: underline;
    }

    .home-header {
        width: 100%;
        margin-top: 3rem;
        display: block;
        height: auto;
    }

    .circle-button-container {
        display: none;
    }

    .main-container {
        width: 90%;
    }

    nav svg {
        fill: black;
    }

    .home-header {
        width: 100%;
        margin-top: 3rem;
        display: block;
        height: auto;
    }

    .circle-button-container {
        display: none;
    }

    .main-container {
        width: 90%;
    }

    nav {
        position: sticky;
        top: 0; /* Ensure the nav sticks to the top */
        background: white; /* Ensure background color covers the content behind */
        z-index: 1000; /* Ensure the nav is above other elements */
    }

    nav svg {
        fill: black;
    }

    .skill-list {
        display: block;
        margin: 1rem 0;
        width: 100%;
        padding: 0;
    }

    .skill-item {
        width: 100%;
    }

    .footer-container {
        display: block;
        width: 100%;
    }

    .footer-links {
        display: none;
    }

    .projects-list {
        display: block;
        margin-top: 2rem;
    }

    .project-card {
        width: 100%;
    }

    .filter-container {
        display: none;
    }

    .proj-header {
        display: block;
        height: auto;
        margin: 3rem 0;
    }

    .proj-header img {
        display: none;
    }

    .portfolio-header {
        display: block;
        margin: 1rem auto;
    }
    .portfolio-header img {
        width: 100%;
        border-radius: 0.5rem;
        margin: 3rem 0;
    }

    .about-mob {
        display: none;
    }

    .about-pic-mobile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        fill: black;
    }

    .about-pic-mobile .pic {
        display: block;
        width: 100%;
        margin: auto;
    }

    .about-text {
        width: 100%;
        margin: 3rem 0;
    }

    .my-information {
        width: 100%;
    }

    .about-pic-mobile {
        width: 100%;
    }
    .about-pic-mobile .pic {
        margin: auto;
    }
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
