html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    position: sticky;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style-type: none;
    padding: 1rem;
    text-decoration: none;
}

nav li a {
    text-decoration: none;
    color: rgb(94, 94, 94);
}

nav li a:hover {
    color: black;
    transition: 0.2s ease-in;
}

.red-circle {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    background-color: red;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 1rem 0px rgba(255, 0, 0, 1);
    -moz-box-shadow: 0px 0px 1rem 0px rgba(255, 0, 0, 1);
    box-shadow: 0px 0px 1rem 0px rgba(255, 0, 0, 1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 1rem 0px rgba(255, 0, 0, 1);
    }
    50% {
        transform: scale(1.2);
        box-shadow: 0px 0px 1.5rem 0px rgba(255, 0, 0, 0.75);
    }
    100% {
        transform: scale(1);
        box-shadow: 0px 0px 1rem 0px rgba(255, 0, 0, 1);
    }
}

.looking {
    display: flex;
    align-items: center;
}

h1 {
    line-height: 1;
}

.occupation-container {
    height: 2rem;
    overflow: hidden;
}

.occupation {
    margin: 0;
    padding: 0;
    list-style-type: none;
    animation: slide 9s infinite;
}

@keyframes slide {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-2rem);
    }
    50% {
        transform: translateY(-2rem);
    }
    60% {
        transform: translateY(-4rem);
    }
    80% {
        transform: translateY(-4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.occupation-item {
    font-size: 1.25rem;
    height: 2rem;
    line-height: 2rem;
}

.name {
    font-size: 4rem;
}

.home-header {
    width: 70%;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 70vh;
}

.description {
    color: #686868;
    margin-top: 2rem;
}

.circle-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-button {
    width: 5rem;
    height: 5rem;
    margin: auto;
    border-radius: 50%;
    background-color: rgb(244, 244, 244);
    cursor: pointer;
    border: none;
    transition: 0.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.circle-button:hover {
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
}

.circle-button:visited {
    color: black;
}

.main-container {
    width: 80%;
    margin: auto;
}

.about-home {
    background-color: #f5f5f5;
    padding: 2rem;
    text-align: center;
    margin: 5rem 0rem;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
}

.wave {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.about-home p:nth-child(2) {
    width: 70%;
    margin: auto;
}

.skills {
    text-align: center;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin: 2rem auto;
}

.skill-item {
    display: flex;
    width: 49%;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    border-radius: 2rem;
    align-items: center;
    background-color: rgba(236, 236, 236, 0.244);
    margin-bottom: 0.5rem;
    transition: 0.2s ease-in;
}

.skill-item img {
    height: 3rem;
}

.skill-item h3 {
    margin-left: 1rem;
}

.skill-item:hover {
    filter: invert(1);
}

footer {
    background-color: rgba(236, 236, 236, 0.244);
    padding: 1rem;
    margin-top: 5rem;
}

.foot-item {
    margin-right: 1rem;
    text-decoration: none;
    color: rgb(37, 37, 37);
    list-style-type: none;
}

.foot-item:visited {
    color: rgb(37, 37, 37);
}

.foot-item:hover {
    color: black;
}

.footer-links {
    display: flex;
    margin: 2rem 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.footer-social {
    margin-top: 1rem;
}

.social-link {
    color: #686868;
    text-decoration: none;
    transition: 0.2s ease-in;
}

.social-link:hover {
    color: black;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1rem;
}

.project-card {
    width: 32%;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
    color: #000000;
    text-decoration: none;
    transition: 0.2s ease-in;
}

.project-card img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.card-context {
    padding: 1rem;
}

.proj-header {
    height: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proj-header img {
    height: 20rem;
}

.skills-used {
    color: #929292;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.cat-item {
    background-color: rgba(241, 241, 241, 0.424);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.filter-container {
    overflow-y: scroll;
    max-height: 200px; /* Adjust the height as needed */
}
.filter-button {
    text-align: center;
    border-radius: 1rem;
    border: 1px solid black;
    background-color: white;
    padding: 1rem;
    margin-right: 1rem;
    transition: 0.1s ease-in;
}

.filter-button:hover {
    background-color: #000000;
    cursor: pointer;
    color: white;
}

.card-description {
    color: #686868;
}

.project-card:hover {
    background-color: #e6e6e6ac;
}

.project-card:hover .cat-item {
    color: rgb(91, 91, 91);
}

.project-card:hover .card-description {
    color: black;
}
