@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MyFont';
    src: url('assets/fonts/DrukWide.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'heading';
    src: url('assets/fonts/DrukSuper.otf');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

nav {
    font-family: 'MyFont';
    font-size: 1.5rem;
    color: white
}

h1 {
    font-family: 'heading';
    font-size: 5rem;
    color: white
}

h2{
    font-family: 'MyFont';
}


p {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    color: white
}